* {
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

h1 {
    background-color: #59AAA5;
    color: white;
    text-align: center;
}

.container-link {
    color: grey;
    text-align: center;
    background-color: white;
}

h2 {
    background-color: white;
    color: #59AAA5;
    text-align: left;
}

a {
    color:gray;
    background-color: white;
}

.card {
    text-align: center;
        }

.info {
    text-align: left;
}


  @media screen and (min-width: 640px) {
      h1 {
          text-align: left;
      }
     
    }


  @media screen and (min-width: 768) {
    .container-link {
        float: right;
    }
  }

